modules = ["web", "python-3.11"]
[agent]
expertMode = true
stack = "FLASK_VANILLA_JS"

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "ffmpeg-full", "freetype", "lcms2", "libev", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "postgresql", "rustc", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --timeout 120 --worker-class gevent --workers 1 --worker-connections 100 --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[userenv]

[userenv.shared]
TELETHON_API_ID = "32726981"
TELETHON_API_HASH = "a532b3999366ded30608c2fe66a7621d"
TELETHON_SESSION = "1ApWapzMBu63B2wQQ-xiFLpn-NnHsE_DfhGd7djmmMLaasv1Nzc_GpQ48p5V8B6uMMpMDlOeztdxiov-1Uv0IJeIK7OwVXE38bYzgxse70uZw4Mfzi_gljpbCzDiOMlOY98APR14JkEAxIgKkT60kDPRC8jaCIJGwych0-xOHcN25lxKYpkxFcZI8GlvjamBtHAOU-V7GjBgsuS9zMqgD0OeiFXh4sqLTa-e6FoHzr14BHrDpoLX6FyAq9FCVBfYSFSk-Kma_2SCRQqjsKfit0TwGb0oRbyn_YlD1DKtrsOyIGGdF8B05Qrk4x8qTa5Ll2bURjiUfl1zQw7ICUG1Z9zDtu-mth7g="
