modules = ["web", "python-3.11"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "--worker-class=gevent", "-w", "1", "main:app"]

[userenv]

[userenv.shared]
TELETHON_SESSION = "1ApWapzMBu2y2cExN9TjU-OPd26KAULB8dWi-fazHdtQRAsLiuPoIlQz2VdQNomXNtz9trQEN0Q5iuA6EFL8y_nkI6AjT6ZAgyIu0ENdwlvPlN1MLhlsxtF1K2hqjHcPY8OgWe7iUjslryOS_AYpSQsoskFb-cIDDJNSjt2DD_jMiPOBTC-h8bnnDGQWZYh1yjz8XSHdZRWgLYi8bra5hIZI71H5wj37oDSTcmO3Aeh0fv8BixTzP9b4vwvSTJsMSOv6n7R45tmndrDQXwv5smINkdh7wt0Qj6V6BWImNr-Cr78w4_ZND5hXsq8M34J8lDhlvUm-7QlQOml-IdPVu3yQDRps-JqU="
