aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
anyio==4.12.1
attrs==25.4.0
beautifulsoup4
blinker==1.9.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
cryptg==0.5.2
dnspython==2.8.0
email-validator==2.3.0
Flask==3.1.1
flask-compress
Flask-SQLAlchemy==3.1.1
frozenlist==1.8.0
gevent
greenlet==3.3.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
multidict==6.7.0
packaging==25.0
pillow==12.1.0
propcache==0.4.1
psycopg2-binary==2.9.11
pyaes==1.6.1
pyasn1==0.6.2
python-dotenv==1.1.0
python-telegram-bot==22.1
qrcode==8.2
requests==2.32.5
rsa==4.9.1
SQLAlchemy==2.0.45
Telethon==1.42.0
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
yarl==1.22.0
